* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1d2e;
    color: #fff;
    line-height: 1.6;
}

img:not(.support-button) 
{
    width: 100%;
}

a {
    color: lightblue;
}

a:hover {
    color: purple;
}

header {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #28253b;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

.support-links {
    text-align: center;
    margin: 2rem 0;
}

.support-buttons
{
margin-top: 0.5em;
}

.support-buttons a img {
    animation-play-state: paused;
    height: 36px;
    margin: 0 5px;
}

.support-buttons a img:hover {
    animation: bounce 1s infinite;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

#features ul {
    list-style: square;
    padding-left: 1.5rem;
}

.cta-btn {
    background-color: #4e88e8;
    color: #fff;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    animation: bounce 2s ease-in infinite;
}

.cta-btn:hover {
    background-color: #356bc0;
    animation-play-state: paused;
}

footer {
    text-align: center;
    background-color: #28253b;
    padding: 1rem;
}

section#disclaimer {
    background-color: #8ca1c4;
}


[alt="GPU Modes"]
{
    width: 50%;
}

.gradient-text {
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(45deg, #9e61ff, #ff9a9e, #d78dc2, #a18cd1, #adc3e7);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes bounce-loop {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .cta-btn {
        width: 100%;
    }
}
