* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1d2e;
    color: #fff; 
    line-height: 1.6;
}

.gradient-text {
    font-size: 1.5rem;
    font-weight: bold;

    background: linear-gradient(45deg, #9e61ff, #ff9a9e, #d78dc2, #a18cd1, #adc3e7);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    
    
    color: transparent;
    
    animation: shine 4s ease-in-out infinite;
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a{
color: lightblue;
}

a:hover{
color: purple;
}

header {
    display: flex;
    flex-direction: column;

    text-align: center;
    padding: 2rem 1rem;
    background-color: #28253b;
}

.header-content {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically */
    margin-bottom: 1rem; /* Space between the header content and the paragraph */
    gap: 2em;
}

h1 {
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin: 1rem 0;
}

nav ul li a {
    color: #4e88e8;
    text-decoration: none;
}

main {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

section#features ul {
    list-style: square;
    padding-left: 1.5rem;
}

table {
    width: 100%;
    margin: 1rem 0;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    text-align: left;
    border: 1px solid #4e88e8;
}

nav a img:hover{
    animation: bounce 2s cubic-bezier(.47,0,.74,.71) both;
}

.cta-btn {
    background-color: #4e88e8;
    
    color: #fff;
    font-size: 1em;
    cursor: pointer;

    width: 200px;
    height: 50px;
    
    padding: 0.5rem 1rem;
    margin-top: 1rem;

    border-radius: 3px;
    border: none;

    animation: bounce 2s ease-in infinite; 
    animation-play-state: running; 
}

.cta-btn:hover {
    background-color: #356bc0; 
    animation-play-state: paused;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #28253b;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 2rem;
    }

    section#features ul {
        padding-left: 1rem;
    }

    .cta-btn {
        width: 100%;
    }
}
