<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="System" />
	</System.Windows.Forms.ApplicationConfigurationSection>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</appSettings>
</configuration>

