name: Release
on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Publish
      run: dotnet publish app/GHelper.sln --configuration Release --runtime win-x64 -p:PublishSingleFile=true --no-self-contained

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: GHelper
        path: app/bin/x64/Release/net8.0-windows/win-x64/publish/GHelper.exe  # lub ./app/bin/Release/net8.0-windows/publish/GHelper.exe
